.shop{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.product-container{
    border-right: 2px solid lightgray;
    margin-right: 10px;
    margin-left: 50px;
}

.search-container{
    background-color: rgb(29, 23, 23);
    line-height: 50px;
    text-align: center;
}

.search-container input{
    width: 75%;
    padding: 5px;
    border-radius: 5px;
}